@model IEnumerable<FormularioDinamico.Domain.Categoria>
@{
    ViewBag.Title = "Categorias";
}

<h2>Categorias</h2>
<div>
    <hr />
    <dl>
        @foreach (var cat in Model)
        {
            <dt>
                @Html.ActionLink(cat.Descricao, "Details", "Categoria", new { slug = cat.Slug }, null)
            </dt>
        }
    </dl>
</div>