@model IEnumerable<FormularioDinamico.Domain.Categoria>
@{
    ViewBag.Title = "Categorias";
}

<h2>Categorias</h2>
<div>
    <hr />
    <dl>
        @foreach (var cat in Model)
        {
            <dt>
                @Html.RouteLink(cat.Descricao, "Categoria", new { slug = cat.Slug })
            </dt>
        }
    </dl>
</div>