@model FormularioDinamico.Domain.Categoria

@{
    ViewBag.Title = Model.Descricao;
}

<h2>@Model.Descricao</h2>

<div>
    <hr />
    <dl>
        @foreach(var sub in Model.SubCategorias)
        { 
            <dt>
                @Html.RouteLink(sub.Descricao, "SubCategoria", new { slug = Model.Slug, subslug = sub.Slug })
            </dt>
        }
    </dl>
</div>
