@model FormularioDinamico.Domain.Categoria

@{
    ViewBag.Title = Model.Descricao;
}

<h2>@Model.Descricao</h2>

<div>
    <hr />
    <dl>
        @foreach(var sub in Model.SubCategorias)
        { 
            <dt>
                @Html.ActionLink(sub.Descricao, "Details", "SubCategoria", new { id = sub.Id}, null)
            </dt>
        }
    </dl>
</div>
