@model FormularioDinamico.Domain.SubCategoria

@{
    ViewBag.Title = Model.Descricao;
}

<h2>@Model.Descricao</h2>

<div>
    <hr />
    @foreach(var campo in Model.Campos.OrderBy(o => o.Ordem))
    {
        <div class="form-group">
            <label>@campo.Descricao</label>
            @if (campo.Tipo == FormularioDinamico.Domain.TipoCampo.checkbox)
            {
                foreach (var val in campo.Lista.Split(','))
                {
                    <label>
                        <input type="checkbox"> @val
                    </label>
                }
            }
            else if (campo.Tipo == FormularioDinamico.Domain.TipoCampo.select)
            {
                <select class="form-control">
                    @foreach (var val in campo.Lista.Split(','))
                    {
                        <option>@val</option>   
                    }
                </select>
            }
            else if (campo.Tipo == FormularioDinamico.Domain.TipoCampo.radio)
            {                
                foreach (var val in campo.Lista.Split(','))
                {
                    <label>
                        <input type="radio" name="@campo.Descricao">
                        @val
                    </label>
                }
            }
            else if (campo.Tipo == FormularioDinamico.Domain.TipoCampo.text)
            {
                <input class="form-control" />
            }
            else if (campo.Tipo == FormularioDinamico.Domain.TipoCampo.textarea)
            {
                <textarea class="form-control"></textarea>
            }
        </div>
    }
</div>

